services:
  postgres:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: distributed-session-api
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d distributed-session-api"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      postgres:
        condition: service_healthy

  redis:
    image: redis:8
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  redisinsight:
    image: redis/redisinsight
    restart: always
    ports:
      - "5540:5540"

  migration:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    command: /bin/sh -c "npx prisma migrate deploy && node dist/prisma/seed.js"
    environment:
      NODE_ENV: development
      SEED_DEFAULT_USER_PASSWORD: 123456
      DATABASE_URL: "postgresql://admin:password@postgres:5432/distributed-session-api?schema=public"
    depends_on:
      postgres:
        condition: service_healthy

  distributed-session-server:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      PORT: 3000
      DATABASE_URL: "postgresql://admin:password@postgres:5432/distributed-session-api?schema=public"
      REDIS_HOST: "redis"
      REDIS_PORT: 6379
      AUTH_SESSION_LIFESPAN_IN_DAYS: 30
      AUTH_CACHE_LIFESPAN_SECONDS: 1800
      AUTH_COOKIE_NAME": "id"
      AUTH_SESSION_TOKEN_TTL_IN_HOURS: 24
      AUTH_SESSION_CACHE_TTL_AFTER_TOKEN_REFRESH_IN_SECONDS: 60
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      migration:
        condition: service_completed_successfully